/* ---------------------
    TYPOGRAPHY
----------------------*/
body {
  color: var(--secondary-color);
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.25rem;
  color: var(--lighter-color);
}
