/* ---------------------
    VARIABLES
----------------------*/
:root {
  --primary-color: #060606;
  --secondary-color: #bcbcbc;
  --median-color: #0d0b12;
  --lighter-color: #ffffff;
  --btn-color: #4154fe;
  --spot-color: #bc0428;
  --chevron-color: #fff941;
  --banner-color: #33475b;
  --sales-color: #79bc7b;
  --light-black: #68646e;
}
